.repos {
    padding: 30px 0;
    display: none;

    h2 {
        border-bottom: 1.5px solid #ebedf0;
        padding: 15px 5px;
        margin-bottom: 20px;
    }

    .repo-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;

        .repo {
            background-color: #ebedf0;
            padding: 12px;
            border-radius: 4px;
            cursor: pointer;
            transition: all .3s ease;
            display: flex;
            flex-direction: column;
            gap: 7px;

            &:hover {
                transform: scale(1.02);
                box-shadow: 2px 2px 8px rgba(0,0,0,.5);
            }

            p {
                font-size: 16px;
            }

            &-meta {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
            }
        }

        @media (max-width: 640px) {
            grid-template-columns: 1fr;
        }
    }
}