.button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    background-color: #0366d6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}